openapi: 3.2.0
info:
  description: '# Introduction

    Welcome to the IntelyCare API documentation, your gateway to seamless integration with the IntelyCare Staffing platform. Our REST API empowers clients to efficiently create shift requests, enabling a streamlined process for managing workforce scheduling. By leveraging this API, you can enhance your systems with real-time information about shift status, including when a shift has been filled and details about the assigned IntelyPro.


    # Overview


    The IntelyCare API facilitates communication between your application and the IntelyCare platform, enabling a seamless exchange of data. This documentation serves as a comprehensive guide to help you integrate your systems with our powerful RESTful API. All requests and responses are JSON-encoded, and use standard HTTP response codes and authentication schemes. Bulk operations are not supported. You can work with only one object per request.


    To get started with the IntelyCare API, refer to the detailed documentation below. We provide comprehensive information on authentication, endpoints, request and response formats, and error handling.


    # Authentication


    IntelyCare offers the following authentication schemes:


    | Type                      | Usage       | Description                                                    | Example                                                                   |

    | ------------------------- | ----------- | -------------------------------------------------------------- | ------------------------------------------------------------------------- |

    | apiKey                    | REST APIs   | Required as `X-API-KEY` header for all RESTful calls           | `d1015a83-9f5f-4a4d-b5fd-4e756ed1d282`                                    |

    | HMAC Signature (SHA256)   | Webhooks    | Provided as `X-Signature-IC` header on all webhooks            | `bcc151a55acf3d93c097e768f2b96f82d91b56d6fe2a102818b70f0fdfd0ccd1`        |


    > :memo: **Note:** API Keys are tied to individual clients and cannot be used outside their provided scope


    # Support and Assistance


    If you have any questions, encounter issues, or require assistance during the integration process, our dedicated support team is here to help. Reach out to apisupport@intelycare.com for prompt and reliable assistance.


    Thank you for choosing IntelyCare. Let''s build a more efficient and connected healthcare workforce together!

    '
  version: 1.0.0
  title: IntelyCare API Documentation Webhook Events API
  contact:
    name: API Support
    email: apisupport@intelycare.com
  x-logo:
    url: https://www.intelycare.com/wp-content/uploads/2023/08/ic-logo-2-1.svg
    altText: IntelyCare Logo
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: //api.intelycare.com/external-scheduling/v1/
  description: Default server
- url: //api.pre.prod01.platform.intelycare.com/external-scheduling/v1/
  description: Sandbox server
security:
- ApiKeyAuth: []
- HMACSignature: []
tags:
- name: Webhook Events
  description: Real-time updates on the status of submitted shifts. The API response includes valuable information about the assigned IntelyPro, giving you insights into the workforce handling each shift.
paths: {}
webhooks:
  ShiftAccept:
    post:
      tags:
      - Webhook Events
      operationId: shift_accept_webhook_v1
      summary: Shift Accept
      description: Webhook event for shift accept
      security:
      - HMACSignature: []
      parameters:
      - name: X-Signature-IC
        in: header
        description: The hash signature of the payload. IntelyCare webhooks uses a HMAC hex digest (SHA256) to compute the signature of the body payload with the webhook secret.
        example: a0b1c1d2e3f5a8b13c21d34e55f89a144b233c377d610e987f1597a2584b4181
        required: true
        schema:
          type: string
      requestBody:
        description: Webhook event for shift accept
        content:
          application/json:
            schema:
              type: object
              required:
              - clientId
              - externalShiftId
              - shiftStatus
              - healthcareProfessional
              - statusTimestamp
              properties:
                clientId:
                  description: Unique identifier of the client
                  type: integer
                externalShiftId:
                  description: Unique identifier for the shift
                  type: integer
                shiftStatus:
                  description: Status of the shift
                  type: string
                  enum:
                  - Accepted
                  - Completed
                  - Released
                  - Deleted
                healthcareProfessional:
                  description: Healthcare Professional object containing all information about the assigned worker
                  type: object
                  required:
                  - id
                  - externalId
                  - lastName
                  - firstName
                  - healthcareProfessionalType
                  - phoneNumber
                  - email
                  optional:
                  - profilePicture
                  properties:
                    id:
                      description: Unique identifier of the shift
                      type: integer
                    externalId:
                      description: External identifier for the shift
                      type: integer
                    lastName:
                      description: Last name of the assigned worker
                      type: string
                    firstName:
                      description: First name of the assigned worker
                      type: string
                    healthcareProfessionalType:
                      description: Healthcare professional qualification needed for the given shift
                      type: string
                    phoneNumber:
                      description: Phone number for the assigned worker
                      type: string
                      example: (800) 900-1234
                    email:
                      description: Email for the assigned worker
                      type: string
                    profilePicture:
                      description: Base64 encoded string of the assigned workers profile image
                      type: string
                      example: XfPy2KmGiZTQySSS3OHCWw==
                statusTimestamp:
                  description: Status timestamp in ISO 8601 format and in UTC timezone
                  type: string
                  example: '2024-01-17T15:01:00'
            example:
              clientId: 1234
              externalShiftId: '2546810'
              shiftStatus: Accepted
              healthcareProfessional:
                id: '456789'
                externalId: '111124'
                lastName: Nightengale
                firstName: Florence
                healthcareProfessionalType: LPN
                phoneNumber: (800) 900-1234
                email: florence.nightengale@gmail.com
                profilePicture: XfPy2KmGiZTQySSS3OHCWw==
              statusTimestamp: '2024-01-17T15:01:00'
  ShiftRelease:
    post:
      tags:
      - Webhook Events
      operationId: shift_release_webhook_v1
      summary: Shift Release
      description: Webhook event for shift release
      security:
      - HMACSignature: []
      parameters:
      - name: X-Signature-IC
        in: header
        description: The hash signature of the payload. IntelyCare webhooks uses a HMAC hex digest (SHA256) to compute the signature of the body payload with the webhook secret.
        example: a0b1c1d2e3f5a8b13c21d34e55f89a144b233c377d610e987f1597a2584b4181
        required: true
        schema:
          type: string
      requestBody:
        description: Webhook event for shift release
        content:
          application/json:
            schema:
              type: object
              required:
              - clientId
              - externalShiftId
              - shiftStatus
              - statusTimestamp
              properties:
                clientId:
                  description: Unique identifier of the client
                  type: integer
                externalShiftId:
                  description: Unique identifier for the shift
                  type: integer
                shiftStatus:
                  description: Status of the shift
                  type: string
                  enum:
                  - Accepted
                  - Completed
                  - Released
                  - Deleted
                statusTimestamp:
                  description: Status timestamp in ISO 8601 format and in UTC timezone
                  type: string
                  example: '2024-01-17T15:01:00'
            example:
              clientId: 1234
              externalShiftId: '2546810'
              shiftStatus: Released
              statusTimestamp: '2024-01-17T15:01:00'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
    HMACSignature:
      type: apiKey
      in: header
      name: X-Signature-IC
x-tagGroups:
- name: APIs
  tags:
  - Shift
  - Timecard
  - Webhook Events
  - Check In / Check Out
